@charset "UTF-8";
/* Selector universal */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/* Link fuente*/
@font-face {
  font-family: AmericanTypewriterGeneral;
  src: url(../fonts/American\ Typewriter\ Regular.ttf);
}
/* Se creó una variable de colores importada de un archivo en la misma carpeta de SASS, citándose los colores que no sean blanco o negro luego por el nombre asignado.*/
/* Se escribió el código con anidación. */
body {
  margin: 0;
  height: 100%;
  background-color: #dedebd;
}
body header {
  background-color: #8b8352;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
body header .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 1em;
}
body header .top-nav .logodelsitio {
  height: 50px;
}
body a {
  color: black;
}
body .centrado {
  text-align: center;
}
body h1 {
  color: rgb(87, 100, 144);
  font-family: "AmericanTypewriterGeneral", sans-serif;
  font-size: 34px;
  font-style: bold;
  text-align: center;
  margin: 20px;
  display: inline;
}
body h2 {
  color: rgb(119, 150, 203);
  font-family: "AmericanTypewriterGeneral", sans-serif;
  font-size: 28px;
  text-align: center;
  margin: 20px;
  padding-top: 20px;
}
body h3 {
  color: #6a5a31;
  font-family: Verdana, sans-serif;
  font-size: 22px;
  text-align: justify;
  padding-bottom: 20px;
}
body p {
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  text-align: justify;
}
body .embeds {
  aspect-ratio: 16/9;
  width: 50%;
}
body .boton {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  width: 150px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #6ade41, white);
}
body .boton:hover {
  background-image: linear-gradient(45deg, white, #6ade41);
}
body footer {
  color: #6a5a31;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  background-color: #6ade41;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/* Se agregó media queries para el menú hamburguesa y se agregó posición sticky. */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #acac8b;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #acac8b;
  }
  .top-nav {
    z-index: 2;
  }
}
main legend {
  padding: 10px;
  background: #acac8b;
  color: white;
}
main fieldset {
  text-align: center;
}
main .encuesta {
  padding: 10px;
  line-height: 30px;
}
main ul, main .encuesta {
  list-style-type: none;
  font-family: Verdana, sans-serif;
  text-align: left;
  margin-left: 40%;
  font-size: 16px;
  color: #4a390f;
}
main .episodios-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-justify: center;
  width: 100%;
}
main .episodios-grid-container .tabla {
  text-align: center;
  padding: 20px;
  border: black;
  border-style: dotted;
}
main .frases-container {
  width: 100%;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .frases-container div {
  flex: 0 1 30%;
  margin-bottom: 30px;
}
main .frases-container div .frase {
  width: 300px;
  margin-bottom: 20px;
  background: #acac8b;
  padding: 20px;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 20px;
}
main .texto-contacto {
  display: block;
  padding-bottom: 10px;
  margin-left: 20px;
}
main form div div input {
  border-radius: 5px;
}
main .netflix {
  height: 50px;
  display: inline;
}

.frase:hover:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #acac8b;
  border-right: 10px solid transparent;
  border-top: 10px solid #acac8b;
  border-bottom: 10px solid transparent;
  left: 20px;
  bottom: -19px;
}

/* Se usó el nesting para hover. */
.flex-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 1;
}
.flex-container .card {
  background-color: transparent;
  border: none;
  width: 18rem;
  padding: 8px;
}
.flex-container .card img {
  opacity: 1;
  border-radius: 20px;
  transition: 2s;
}
.flex-container .card img:hover {
  transition: 0.25s;
  opacity: 0.85;
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
