/* Se practicó con variables creando los colores para que tengan nombres más fáciles de recordar, importadas al archivo scss principal. */

$colorOcre: #8b8352;
$colorAzul: rgb(87, 100, 144);
$colorBeige: #dedebd;
$colorCeleste: rgb(119, 150, 203);
$colorMarron: #6a5a31;
$colorVerde: #6ade41;
$colorGris: #acac8b;
$colorMarronOscuro: #4a390f;